# Tuples in Python<br>
Python Tuple is a collection of objects separated by commas.<br><br>
*So when do we use tuples and when do we use lists?*<br>
Tuples are immutable, unlike lists, which means they cannot be modified after they have been created.

In [1]:
var = ("Some", "random", "text")
print(var)

('Some', 'random', 'text')

In [6]:
print(var[0])
print(var[1])
print(var[2])
print("")
print(var[-1])
print(var[-2])
print(var[-3])

Some
random
text

text
random
Some

Concatenation

In [7]:
var1 = ("hello")
var2 = ("world")
var3 = var1 + var2
print(var3)

helloworld

Nesting

In [8]:
var3 = (var1, var2)
print(var3)

('hello', 'world')

Splicing

In [10]:
var4 = ("1","2","3","4")
var5 = var4[:2]
print(var5)

print("")

var5 = var4[1:]
print(var5)

('1', '2')

('2', '3', '4')

Deletion

In [12]:
var6 = ( 0, 1)
del var6
print(var6)

NameError: ignored

Length of a tuple

In [14]:
print(var3)
print(len(var3))

('hello', 'world')
2

In [16]:
list_1 = [1,2,3]
tuple_1 = tuple(list_1)
print(tuple_1)

(1, 2, 3)