In [ ]:
- Used to store collections of data
- Used to store multiple items in a single variable

In [3]:
## LISTS #######################################################################################################

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [4]:
## List length

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
#multiple datatypes

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

list1 = ["abc", 34, True, 40, "male"]

In [ ]:
#datatype of a list

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

In [ ]:
## List constructor

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [5]:
#Indexed/ordered

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
#changeable

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
#insert function

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
#append

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
#extend list 

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

In [6]:
#remove function

thislist = ["apple", "banana", "cherry"]
thislist.remove(2)
print(thislist)

ValueError: list.remove(x): x not in list

In [ ]:
#pop function

thislist = ["apple", "banana", "cherry"]
thislist.pop(1) #pop with no arguement also works
print(thislist)

In [ ]:
#del keyword

thislist = ["apple", "banana", "cherry"]
del thislist[0] #can also delete without arguement
print(thislist)

In [7]:
#clear function

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
#sorting

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [8]:
# reverse
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [9]:
#copy

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#joining 

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [10]:
## TUPLES #######################################################################################################

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
## SETS #######################################################################################################

myset = {"apple", "banana", "cherry"}
print(myset)

In [11]:
#accessing

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

In [ ]:
## DICTIONARIES #######################################################################################################

#used to store data values in key:value pairs.

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [12]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [13]:
#nested dictionaries

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child2"]["name"])

Tobias

In [ ]:
#dictionary specific methods

'''
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary
'''