In [12]:
import pandas as pd
import numpy as np

data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [15]:
data['b']

0.5

In [16]:
population_dict = {'California': 39538223, 'Texas': 29145505,
                   'Florida': 21538187, 'New York': 20201249,
                   'Pennsylvania': 13002700}
population = pd.Series(population_dict)
population

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

In [17]:
population['California']

39538223

In [ ]:
'''
A Data frame is a two-dimensional data structure, i.e., 
data is aligned in a tabular fashion in rows and columns. 
Pandas DataFrame consists of three principal components, the data, rows, and columns.
'''

In [20]:
file = pd.read_csv("C:/Users/Dinesh.Sreekanthan/Downloads/fertiliser_price.csv")
print(file.tail())

            State   Product  \
3141  West Bengal  10-26-26
3142  West Bengal  10-26-26
3143  West Bengal  10-26-26
3144  West Bengal  10-26-26
3145  West Bengal  10-26-26

                                                Company  Price per KG
3141                                     IFFCO Paradeep          22.7
3142                                     Indorama India          29.4
3143  Paradeep Phosphates Ltd (Erstwhile ZACL Goa Pl...          28.2
3144                                       PPL Paradeep          34.7
3145                                        RCF Trombay          29.4

In [21]:
print(file['State'])

0       Andaman and Nicobar Islands
1       Andaman and Nicobar Islands
2       Andaman and Nicobar Islands
3       Andaman and Nicobar Islands
4                    Andhra Pradesh
                   ...
3141                    West Bengal
3142                    West Bengal
3143                    West Bengal
3144                    West Bengal
3145                    West Bengal
Name: State, Length: 3146, dtype: object